body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(237, 178, 28, 0.413);
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

#bar{
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#bar a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: bold;
}

#bar a:hover{
    color: white;
    background-color: black;
}

#presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8vw;
    height: 90vh;
}

#presentation picture{
    filter: drop-shadow(0 0 30px rgb(140, 140, 140));
}

#name{
    align-content: center;
    max-width: 45vw;
}

h1{
    font-size: 50px;
}

#price{
    font-size: 50px;
    font-weight: bold;
}

#btn-container{
    display: flex;
    column-gap: 10px;
}

.btn{
    text-decoration: none;
    /* height: 50px; */
    /* padding: 0; */
    border-radius: 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 15px;
}

#btn-buy{
    background-color: rgba(237, 178, 28);
    color: black;
    box-shadow: 0 0 5px rgba(140, 140, 140, 0.8);
    /* margin-right: 15px; */
    /* align-items: center; */
    /* padding: 0 50px; */
}

#btn-info{
    background-color: black;
    color: white;
    box-shadow: 0 0 5px rgba(140, 140, 140, 0.8);
}

#galery{
    display: flex;
    height: 110px;
    margin: 50px 0;
    column-gap: 8px;
}

#galery img{
    height: 100px;
    border-radius: 20px;
    border: 3px solid white;
}

#galery img:hover{
    border: 3px solid lightseagreen;
}

.select{
    border: 3px solid lightseagreen;
}

#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(205, 134, 63, 0.292);
    margin-top: 70px;
    padding-bottom: 50px;
}

#info article{
    /* margin: 50px 0; */
    padding: 10px 0;
}

#details{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(211, 133, 77);
}

#details-container{
    display: flex;
    width: 50%; 
    justify-content: space-around;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7vw;
    text-align: center;
    border-radius: 20px;
    padding: 10px 0;
}

.detail p{
    margin: 0;
    margin-top: 5px;
}

.about{
    width: 70%;
}

#characters{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#characters img{
    border-radius: 100px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 20px rgba(140, 140, 140, 0.8);
}

#reviews{
    width: 70%;
}

#container-reviews{
    display: flex;
    justify-content: space-between;
}

.review{
    width: 20vw;
    padding: 1px 20px;
    background-color: rgba(237, 178, 28, 0.413);
    border-radius: 20px;
    border: 1px solid black;
}

footer{
    height: 20vh;
    background-color: rgb(211, 133, 77);;
}